
table {
  border-spacing: 0;
  display: block;
  overflow-x: auto;
  text-align: left;
  width: 100%;
}

td,
th {
  border-bottom: 0.1rem solid #e1e1e1;
  padding: 1.2rem 1.5rem;
}

td:first-child,
th:first-child {
  padding-left: 0;
}

td:last-child,
th:last-child {
  padding-right: 0;
}

@media (min-width: 40rem) {
  table {
    display: table;
    overflow-x: initial;
  }
}




main {
    margin-bottom:3em;
}



.grid .header {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  margin:.5em 0;
}



.grid a ul:hover {
  background-color:#eee;
}

/* .grid .colx4 li:last-of-type{
  text-align: right;
} */

/* .student.grid ul ul li:nth-child(2){
  padding: 0 1em;
}

.student.grid .col1{
  flex: 1 1 10%;
}
.student.grid .col2{
  flex: 1 1 90%;
} */




h1, h4 {
  margin:0;
  margin-bottom:1em;
  line-height: 1.2;
}

.page .title {
  margin-bottom:2em;
}

.title h4 {
  font-size:0.8em;
  font-weight: normal;
  color:#9e9c9c;
}


/* .moreorless {
  display:none;
} */


.checks, .info {
  border:solid 1px black;
  padding:1em;
  margin-bottom: 1em;
}

.assessment > *:last-child {
  margin-left:3em;
}
.checks label{
  position: relative;
display: inline-block;
}

.checks label span {
  visibility: hidden;
    /* background: #c7c7c7; */
    background-color: #555;
    color:#fff;
    padding: .3em .5em;
    border-radius: .3em;
    text-align: left;
    width: 200px;
    border-radius: 6px;
    opacity: 0;
    transition: opacity 0.3s;
    display: block;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 0px;
    margin-left: -170px;
}

.checks label span::after {
  content: "";
    position: absolute;
    top: 100%;
    right: 10%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.checks label:hover > span{
  visibility: visible;
  opacity: 1;
}
.checks checkbox{
  margin:0;
}




.details {
  justify-content: space-between;
}

.pill {
  background: #d4d4d4;
  margin: 0;
  border-radius: .2em;
  padding: .5em 1em;
  line-height: 1;
}
.pill.referral {
  background:#b54747;
  color:#fff;
}
.pill.pass {
  background: #519a51;
  color:#fff;
}
.pill.good {
  background: green;
  color:#fff;
}
.pill.excellent{
  background: green;
  color:#fff;
}


.material-icons {
  transform: translateY(5px);
}
